name: Chronus Quantum Continuous Integration - Docker

on:
        push:
                branches: [master]

jobs:
        build_docker_image:
                runs-on: ubuntu-latest

                steps:
                        - name: Building Docker Image
                          uses: actions/checkout@v3

                        - name: Test Building Docker Image
                          run:  |
                                export CQ_VERSION=$(grep "project(ChronusQ" -A 7 CMakeLists.txt | grep "VERSION" | sed 's/ \+VERSION //')
                                docker build -t uwligroup/chronusq:$CQ_VERSION .
                                docker push uwligroup/chronusq:$CQ_VERSION
                                docker tag uwligroup/chronusq:$CQ_VERSION uwligroup/chronusq:latest
                                docker push uwligroup/chronusq:latest
                                docker logout
                                
                               
